<table class="table table-striped">
  <thead>
    <tr>
      <th>ユーザーネーム</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "Show", users_path(user.id) %></td>
      </tr>
  </tbody>
  <% end %>
</table>